<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue mailing list</title>
  </head>
  <body>
    <div id="app">
      <div>
        <button @click="mailGeneration">Genera mail</button>
        <ul v-if="mails.length === 10">
          <li v-for="(mail, index) in mails" :key="index">{{ mail}}</li>
        </ul>
        <div v-else>Generazione...</div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./javascript/main.js"></script>
  </body>
</html>
